{% extends 'backbase.html.twig' %}

{% block body %}
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Edit Event</h2>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="portfolio.html">Your Entity</a></li>
                        <li>Addition mta3 Entity mtaaek</li>
                    </ol>
                </div>
            </div>
        </section>

        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <!-- ======= Starts Here ======= -->
<div class="container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <form>

        <div class="form-group">
            {{ form_label(form.nom, 'nom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.nom) is not empty %}
                <div class="alert text-danger">
                    {{ form_errors(form.nom) }}
                </div>
            {% endif %}
        </div>
           <div class="form-group">
            {{ form_label(form.dateDebut, 'date_debut', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.dateDebut) is not empty %}
                <div class="alert text-danger">
                    {{ form_errors(form.dateDebut) }}
                </div>
            {% endif %}
        </div>
          </div>
           <div class="form-group">
            {{ form_label(form.dateFin, 'date_fin', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.dateFin) is not empty %}
                <div class="alert text-danger">
                    {{ form_errors(form.dateFin) }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.lieu, 'lieu', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.lieu) is not empty %}
                <div class="alert text-danger">
                    {{ form_errors(form.lieu) }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.description, 'description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.description) is not empty %}
                <div class="alert text-danger">
                    {{ form_errors(form.description) }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <div class="col">
                {{ form_label(form.organisateur, 'organisateur', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.organisateur, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.organisateur) is not empty %}
                    <div class="alert text-danger">
                        {{ form_errors(form.organisateur) }}
                    </div>
                {% endif %}
            </div>
        </div>


        </div>

        {{ form_rest(form) }}
        <a href="{{ path('app_event_index') }}">back to list</a>

        <div class="text-end mt-4">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </form>
    {{ form_end(form) }}
</div>
                <!-- ======= Ends Here ======= -->
            </div>
        </section>


{% endblock %}