{% extends 'frontbase.html.twig' %}

{% block body %}
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Event Details</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Left section for search and checkboxes -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <!-- Search form -->
                        <h5 class="card-title">Chercher par nom</h5>
                        <form action="{{ path('app_event') }}" method="GET" id="event-filter-form">
                            <div class="form-group">
                                <input type="text" class="form-control" name="keyword" placeholder="Saisir un nom...">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Rechercher</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for event in pagination %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            
                            <div class="card-body">
                            <img src="{{ event.image }}" class="card-img-top" alt="Event Image" style="height: 200px; width: 100%; object-fit: center; border-radius: 5px;">
                                <h5 class="card-title">{{ event.nom }}</h5>
                                <p class="card-text">{{ event.lieu }}</p>
                                <a href="{{ path('front_event_show', {'id': event.id}) }}" class="btn btn-primary">Show More</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-12">
                        <p>No records found</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
