{% extends 'frontbase.html.twig' %}

{% block body %}
    <h1>Event Details</h1>
    
    <div class="row">
        <div class="col-md-4">
            <img src="{{ event.image }}" alt="" style="max-width: 100%;">
        </div>
        <div class="col-md-8">
            <table class="table">
                <tbody>

                    <tr>
                        <th>Nom</th>
                        <td>{{ event.nom }}</td>
                    </tr>                   
                    <tr>
                        <th>DateDebut</th>
                        <td>{{ event.dateDebut ? event.dateDebut|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>DateFin</th>
                        <td>{{ event.dateFin ? event.dateFin|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Lieu</th>
                        <td>{{ event.lieu }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ event.description }}</td>
                    </tr>
                    <tr>
                        <th>Organisateur</th>
                        <td>{{ event.organisateur }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ event.prix }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div>
            <a href="{{ path('add_participation_new') }}" class="btn btn-primary btn-sm">Participate</a>
        </div>
        <div>
            <a href="{{ path('PDFGenerate', {'id': event.id}) }}" class="btn btn-sm btn-primary">Generate Ticket</a>
        </div>
        <div>
            <a href="{{ path('app_event_index') }}">back to list</a>
        </div>
    </div>

    <div>
        <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
    </div>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
