{% extends 'frontbase.html.twig' %}

{% block body %}
    <title>Recherche de tournée</title>

    <section class="breadcrumbs">
        <div class="container">
            <h1>Recherche de tournée</h1>

            {# Affichage du formulaire de recherche #}
            {{ form_start(form) }}
            {{ form_row(form.nom, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Nom'}}) }}
            {{ form_row(form.dateDebut, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Date de début'}}) }}
            {{ form_row(form.duree, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Durée'}}) }}
            {{ form_row(form.tarif, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Tarif'}}) }}
            {# Ajoutez d'autres champs de recherche si nécessaire #}

            <button type="submit" class="btn btn-primary">Rechercher</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
