{% extends 'frontbase.html.twig' %}
{% block body %}
                   <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                </div>
            </div>
        </section>

    <section class="breadcrumbs">
         <div class="container">
       <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num Commande</th>
               <th>Prix</th> 
                <th>Code Promo</th>
                <th>Type Paiement</th>
                <th>Email</th>
                <th>Date Commande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in pagination %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.numCommande }}</td>
              <td>{{ commande.prix }}</td> 
                <td>{{ commande.codePromo }}</td>
                <td>{{ commande.typePaiement }}</td>
                <td>{{ commande.email }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d') : '' }}</td>
                <td><a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="btn btn-sm btn-info">Show</a></td>
                <td><a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-sm btn-warning">Edit</a></td>
                <td><a href="{{ path('app_commande_delete', {'id':commande.id}) }}" class="badge bg-danger">Delete</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">PAS DE COMMANDES</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
    <a href="{{ path('app_commande_new') }}" class="badge bg-success">Create New</a>
    </div>
    </section>
{% endblock %}
