{% extends 'backbase.html.twig' %}

{% block title %}Liste des Vols{% endblock %}

{% block body %}
    <div class="midde_cont">
                      <div class="container-fluid">
                         <div class="row column_title">
                            <div class="col-md-12">
                               <div class="page_title">
                                  <h2>Liste des vols</h2>
                               </div>
                            </div>
                    </div>

    <div class="table_row">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
                <th scope="col">ID</th>
                <th scope="col">Compagnie</th>
                <th scope="col">Numéro de Vol</th>
                <th scope="col">Départ</th>
                <th scope="col">Arrivée</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for vol in pagination %}
                <tr>
                    <th scope="row">{{ vol.id }}</th>
                    <td>{{ vol.compagnieA }}</td>
                    <td>{{ vol.getNumVol() }}</td>
                    <td>{{ vol.aeroportDepart }}</td>
                    <td>{{ vol.aeroportArrivee }}</td>
                    <td>
                        <a href="{{ path('app_vol_show', {'id': vol.id}) }}" class="btn cur-p btn-info"><i>Info</i></a>
                        <a href="{{ path('app_vol_edit', {'id': vol.id}) }}" class="btn cur-p btn-warning"><i>Mod</i></a>
                        <form action="{{ path('app_vol_delete', {'id': vol.id}) }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn cur-p btn-danger" onclick="return confirm('Are you sure you want to delete this vol?')"><i>Supp</i></button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No vols found.</td>
                </tr>
            {% endfor %}
            </div>
            </div>
        </tbody>
    </table>
    {{ knp_pagination_render ( pagination ) }}
    </div>
    </div>
{% endblock %}
