<title>{% block title %}BackTemplate{% endblock %}</title>

        {% block stylesheets %}
			<!-- External CSS files -->
			<link href="{{ asset('BackVendor/css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('BackVendor/style.css') }}" rel="stylesheet">
			<link href="{{ asset('BackVendor/css/responsive.css') }}" rel="stylesheet">
            <link href="{{ asset('BackVendor/css/colors.css') }}" rel="stylesheet">
            <link href="{{ asset('BackVendor/css/bootstrap-select.css') }}" rel="stylesheet">
            <link href="{{ asset('BackVendor/css/perfect-scrollbar.css') }}" rel="stylesheet">
            <link href="{{ asset('BackVendor/css/custom.css') }}" rel="stylesheet">

			<!-- Custom CSS files -->
			<link href="{{ asset('BackVendor/css/style.css') }}" rel="stylesheet">
		    {% endblock %}

		    {% block javascripts %}
			<!-- JavaScript files -->
			<script src="{{ asset('BackVendor/js/jquery.min.js') }}"></script>
			<script src="{{ asset('BackVendor/js/popper.min.js') }}"></script>
			<script src="{{ asset('BackVendor/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('BackVendor/js/animate.js') }}"></script>
            <script src="{{ asset('BackVendor/js/bootstrap-select.js') }}"></script>
            <script src="{{ asset('BackVendor/js/owl.carousel.js') }}"></script>
            <script src="{{ asset('BackVendor/js/Chart.min.js') }}"></script>
            <script src="{{ asset('BackVendor/js/utils.js') }}"></script>
            <script src="{{ asset('BackVendor/js/analyser.js') }}"></script>
			<script src="{{ asset('BackVendor/js/perfect-scrollbar.min.js') }}"></script>
			<script src="{{ asset('BackVendor/js/custom.js') }}"></script>
			<script src="{{ asset('BackVendor/js/chart_custom_style1.js') }}"></script>
        {% endblock %}

<body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="https://images.unsplash.com/photo-1531405272016-2bd40d36e4d1?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="#" /></div>
                        <div class="user_info">
                           <h6>Super Admin</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                                    <h4>General</h4>
                                    <ul class="list-unstyled components">
                                       <li><a href="{{ path('dashboard_vol')}}"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a></li>
                                       <li><a href="{{ path('app_event_index')}}"><i class="fa fa-clock-o orange_color"></i> <span>Evenements</span></a></li>
                                       <li><a href="{{ path('app_participation_index')}}"><i class="fa fa-diamond purple_color"></i> <span>Participations</span></a></li>
                                       <li><a href="{{ path('app_categorie_h_index')}}"><i class="fa fa-table purple_color2"></i> <span>Catégories</span></a></li>
                                       <li><a href="{{ path('app_hebergement_index')}}"><i class="fa fa-object-group blue2_color"></i> <span>Hébergements</span></a></li>
                                       <li><a href="{{ path('app_guide_index')}}"><i class="fa fa-briefcase blue1_color"></i> <span>Guides</span></a></li>
                                       <li>
                                          <a href="{{ path('backapp_vol')}}">
                                          <i class="fa fa-paper-plane red_color"></i> <span>Vols</span></a>
                                       </li>
                                       <li>
                                          <a href="{{ path('app_tournee_index')}}">
                                          <i class="fa fa-clone yellow_color"></i> <span>Tournées</span></a>
                                       </li>
                                       <li><a href="{{ path('app_destination')}}"><i class="fa fa-map purple_color2"></i> <span>Destinations</span></a></li>
                                       <li><a href="{{ path('reservation_index')}}"><i class="fa fa-bar-chart-o green_color"></i> <span>Réservations</span></a></li>
                                       <li><a href="{{ path('commande_index')}}"><i class="fa fa-cog yellow_color"></i> <span>Commandes</span></a></li>
                                    </ul>
                                 </div>
                              </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="https://images.unsplash.com/photo-1592058088665-6c9b45a82024?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="#" /><span class="name_user">Super Admin</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="settings.html">Settings</a>
                                       <a class="dropdown-item" href="help.html">Help</a>
                                       <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->



    {% block body %}

               <!-- Upper Inner : khoudhouha kima hya, badlou just l esm fl <h2> -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                </div>
               <!-- Upper Inner : khoudhouha kima hya, badlou just l esm fl <h2> -->

    {% endblock %}

         <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                           Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->