{% extends 'frontbase.html.twig' %}
{% block body %}
<section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Guide Details</h2>
                    <ol>
                        <li><a href="http://127.0.0.1:8000">Home</a></li>
                        <li><a href={{ path('front_guide_index') }}>Guide</a></li>
                        <li>{{guide.nom}}</li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="breadcrumbs">
         <div class="container">
<title>Guide</title>


    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guide.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ guide.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ guide.prenom }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ guide.nationalite }}</td>
            </tr>
            <tr>
                <th>LanguesParlees</th>
                <td>{{ guide.languesParlees }}</td>
            </tr>
            <tr>
                <th>Experiences</th>
                <td>{{ guide.experiences }}</td>
            </tr>
            <tr>
                <th>TarifHoraire</th>
                <td>{{ guide.tarifHoraire }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ guide.numTel }}</td>
            </tr>
        </tbody>
    </table>

    
    
    
    
    
    
    
    <div class="text-end mt-4">
    <a href="{{ path('app_guide_index') }}" class="btn btn-sm btn-info">back to list</a>
    </section>

{% endblock %}

