{% extends 'frontbase.html.twig' %}
{% block title %}Guides - Index{% endblock %}
{% block body %}
    <section class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Liste des guides</h2>
                </div>
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_front') }}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('front_guide_index')}}">Guide</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Guides liste</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-details" style="padding: 60px 0;">
        <div class="container">
            <div class="row">
                {% for guide in guides %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ guide.prenom }} {{ guide.nom }}</h5>
                                <p class="card-text">Tarif horaire: {{ guide.tarifHoraire }} £</p>
                                <p class="card-text">Numéro de téléphone: {{ guide.numTel }}</p>
                            </div>
                            <div class="card-footer bg-white border-top-0 d-flex justify-content-end">
                                <a href="{{ path('front_guide_show', {'id': guide.id}) }}" class="btn btn-outline-primary btn-sm">Show Details</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col">
                        <p class="text-center">No records found</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
