<title>{% block title %}Beyond Borders Travel - Home{% endblock %}</title>
<!-- ======= Stylesheets and Javascripts ======= -->
        {% block stylesheets %}
			<!-- External CSS files -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
			<link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">
			<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
			<link href="{{ asset('vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
            <link href="{{ asset('vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
            <link href="{{ asset('vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

			<!-- Custom CSS files -->
			<link href="{{ asset('css/style.css') }}" rel="stylesheet">
		    {% endblock %}

		    {% block javascripts %}
			<!-- JavaScript files -->
			<script src="{{ asset('vendor/purecounter/purecounter_vanilla.js') }}"></script>
			<script src="{{ asset('vendor/aos/aos.js') }}"></script>
			<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('vendor/glightbox/js/glightbox.min.js') }}"></script>
            <script src="{{ asset('vendor/swiper/swiper-bundle.min.js') }}"></script>
            <script src="{{ asset('vendor/waypoints/noframework.waypoints.js') }}"></script>
            <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

			<!-- Custom JavaScript files -->
			<script src="{{ asset('js/main.js') }}"></script>

		    {% endblock %}
<!-- ======= Header ======= -->
    <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:@example.com">BeyondBordersTravel@GenZ.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+216 76 257 430</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>
    <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">B&B<span>Travel.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{path ('app_front') }}">Home</a></li>
          <li class="dropdown"><a href="#"><span>Explorer</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('app_destinations')}}">Destinations</a></li>
                        <li><a href="{{ path('map')}}">Map</a></li>
                        <li><a href="{{ path('app_vol')}}">Vol</a></li>
                    </ul>
          <li class="dropdown"><a href="{{ path('front_hebergement')}}"><span>Hébergements</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('front_categorie_index')}}">Catégories</a></li>
                    </ul>
          <li class="dropdown"><a href="{{ path('app_reservation_index')}}"><span>Réservations</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('app_commande_index')}}">Commandes</a></li>
                    </ul>
          <li class="dropdown"><a href="{{ path('front_event_index')}}"><span>Evenements</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('app_participation_new')}}">Participations</a></li>
                    </ul>
          <li class="dropdown"><a href="{{ path('front_tournee_index')}}"><span>Tournées</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('front_guide_index')}}">Guides</a></li>
                    </ul>
          <li class="dropdown"><a href="#"><span>S'inscrire</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">S'authentifier</a></li>
                    </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </header>
    </div>
<!-- ======= Body ======= -->

    {% block body %}
   
        <section id="hero" class="d-flex align-items-center">
            <div class="container" data-aos="zoom-out" data-aos-delay="100">
              <h1>Welcome to <span>Beyond Borders Travel</span></h1>
              <h2>We are a team that will make you go beyond borders</h2>
              <div class="d-flex">
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
              </div>
            </div>
          </section><!-- End Hero -->
        <section id="featured-services" class="featured-services">
              <div class="container" data-aos="fade-up">

                <div class="row">
                  <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                      <div class="icon"><i class="bx bxl-dribbble"></i></div>
                      <h4 class="title"><a href="">Facile a utiliser</a></h4>
                      <p class="description">Des interfaces assez simple pour utiliser et profiter le maximum dans votre prochaine voyage</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                      <div class="icon"><i class="bx bx-file"></i></div>
                      <h4 class="title"><a href="">Flexibilité au marché</a></h4>
                      <p class="description">Une proximité des clients : 34 points de vente sur tout le territoire tunisien</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                      <div class="icon"><i class="bx bx-tachometer"></i></div>
                      <h4 class="title"><a href="">Haute disponibilité</a></h4>
                      <p class="description">Une exhaustivité de l'offre Plus de 884.000 hôtels dans le monde</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                      <div class="icon"><i class="bx bx-world"></i></div>
                      <h4 class="title"><a href="">Exploration Interantionale</a></h4>
                      <p class="description">Une garantie d'avoir une éxperience inoubliable au coté international</p>
                    </div>
                  </div>

                </div>

              </div>
            </section><!-- End Featured Services Section -->
            <section id="about" class="about section-bg">
                  <div class="container" data-aos="fade-up">

                    <div class="section-title">
                      <h2>About</h2>
                      <h3>Find Out More <span>About Us</span></h3>
                      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
                    </div>

                    <div class="row">
                      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                        <img src="{{ asset('img/about.jpg') }}" class="img-fluid" alt="">
                      </div>
                      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <p style="text-align:justify;"> <center>Istanbul <br>Départ en groupe à l'hôtel<br>Grand Ant 3* Laleli<br>Du 21/01/2024 au 25/01/2024 <br>04 Jours

  



<br>
<b>A Propos de la ville :</b>

Découvrez Istanbul, une ville vibrante à la croisée de l'Orient et de l'Occident. Marchez dans les ruelles étroites de Sultanahmet et émerveillez vous devant les joyaux architecturaux du fameux Mimar Sinan tels que la majestueuse Mosquée Süleymaniye. Flânez le long des rives du Boaz plus connu sous le nom du Bosphore et admirez les palais ottomans dont les silhouettes se reflètent sur les eaux scintillantes. Glissez dans l'atmosphère bouillonnante du Grand Bazar, où vous pouvez vous perdre dans un dédale de boutiques colorées et sentir les arômes envoûtants des épices. 
<br><b>Programme :</b>

<br>Jour 1 : Tunis / Istanbul :

<br>Arrivée à l'aéroport d'Istanbul. Accueil et transfert à l'hôtel.

<br>Jour 2 : City Tour (en extra) :

<br>Petit déjeuner à l'hôtel, départ en excursion :


<br>Jour 3 : Les îles des Princesses (en extra) :


<br>Jour 4 : city tour rive asiatique (en extra) :
<br><b>Par personne dans une chambre double : 1689 DT</b>

<br><b>Par personne dans une chambre triple : 1665 DT</b>
<br><b>Chambre Single : 2288DT</b>
<br><b>Tarif des excursions en extra : 275 DT</b>
<br>
<br>
<a href="/reservation" class="arrivals_btn">Reserver</a>

</center></p>
                      </div>
                    </div>

                  </div>
                </section><!-- End About Section -->
                 <div class="featured_boks">

    
    
    {% endblock %}

<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Abonnez-Vous</h4>
            <p>Vous aurez des informations exclusive  à propos les offres des vacances !</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Abonnez">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Beyond Borders<span>Travel</span></h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +216 76 257 430<br>
              <strong>Email:</strong> BeyondBordersTravel@GenZ.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Evenements</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hébergements</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Vols</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Guides</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Reservation</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>B&BTravel</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->