{% extends 'backbase.html.twig' %}

{% block body %}
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Portfolio Details</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li><a href="portfolio.html">Your Entity</a></li>
                <li>Addition mta3 Entity mtaaek</li>
            </ol>
        </div>
    </div>
</section>

<section id="portfolio-details" class="portfolio-details">
    <div class="container">

<title>Commande</title>


    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Num_commande</th>
                <td>{{ commande.numCommande }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ commande.prix }}</td>
            </tr>
            <tr>
                <th>Code_promo</th>
                <td>{{ commande.codePromo }}</td>
            </tr>
            <tr>
                <th>Type_paiement</th>
                <td>{{ commande.typePaiement }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ commande.email }}</td>
            </tr>
            <tr>
                <th>Date_commande</th>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
    </div>
    </section>
{% endblock %}
